body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img-fluid{
  height :10%;
}
.login_button{
  background-color: #232426;
  border: none;
  color: white;
  border-radius: 10px;
 
}
.login_button:hover{
background-color: black;
}
.linksItem{
  text-decoration: none;
  margin-left: 10px;
  color: white;
}